body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9fafb;
  color: #2C3E50;
}
h1, h2, h3 {
  color: #007BFF;
  text-align: center;
  margin-top: 40px;
}
img:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}
